<section class="hero is-fullheight has-text-centered" id="services">
    <div class="hero-body">
        <div class="container">
             <h2>Rate: $20 per 6 Minutes    </h2>
             <h3>Prices Reflect 100% Actual Work</h3>
            <div class="columns">
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <h2>Fullstack Application Development</h2>
                    <div class="has-text-left">
                        <p>
                            Go from a design to a fully-functional, production ready application. I use fullstack Typescript in order ensure your app is safe, maintainable,
                            and can be developed further by any experienced engineer.
                        </p>
                        <p>
                            I've worked with multiple startups in their early years, starting back when I was fresh to coding. I excel at listening to your business needs and using technology to solve problems as simply and efficiently as possible
                        </p>
                    </div>
                </div>
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <h2>Application Security Consulting</h2>
                    <div class="has-text-left">
                        <p>
                            If you run custom software that's buggy or hasn't been updated in years, odds are your application is vulnerable to ransomware, spammers, and cryptominers.
                            A successful hacker can run up your cloud hosting bill by 1000% or ruin your reputation by attacking your customers. 
                        </p>
                        <p>
                            I've developed security critical applications in healthcare and government, and can bring your software to the highest standard of resilience.
                        </p>
                    </div>
                </div>
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <h2>Productise Vibe Coded Apps</h2>
                    <div class="has-text-left">
                        <p>
                            Your brand new vibe-coded application may look brilliant, but under the hood it's a mess. Before long you find persistent bugs developing, and AI coding tools routinely
                            produce vulnerabilities because they lack the capacity to understand your business logic.
                        </p>

                        <p>
                            Before you bring your app to market, I can ensure it is up to the necessary standard to keep yourself and your users safe from both expensive bugs and more expensive hackers.
                        </p>
                    </div>
                </div>
            </div>
            <a target="_blank" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" href="https://calendar.app.google/UNNo9Nb7p4nDDjsL6">Contact Me</a>
        </div>
    </div>
</section>
