<div id="hero" class="hero-container">
    <div class="hero-background" id="hero-background"></div>
    <div class="hero-animated-grid" id="hero-animated-grid"></div>
    <section class="hero is-fullheight has-text-centered">
  <div class="hero-body" >

      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>

      <div class="columns is-centered">
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">About Me</a>
      </a>
      <a href="{{site.url}}{{site.baseurl}}/#services"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Services</a>
      </a>
            <a href="/blog"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Writing</a>
      </a>
      </div>

  </div>

</section>
</div>
